@charset "UTF-8";
body{

    .card{
        
        height: 200px;
        width: 25%;
        background-color: hsla(195, 100%, 39%, 0.904);
        border-radius: 8px;
        justify-items: flex-start;
        font-size: small;  
        
        .color-white{ color: antiquewhite;}

        
    }
    .texto {

        p{
        font-size: medium;
        text-align: right;
        justify-content: end;}
        }

        .evolutions {
            display: flex;
            background-color: grey;
            display: inline-block;
            justify-content: space-around;
        }

}
header{

        h1{color:  black;} 
        span{ color: grey;}
        font-family: "Flexo-Medium", Arial, sans-serif;
        text-align: center;
    
}


@font-face{
    font-family: "Flexo-Medium";
    src: url(flexo-medium.woff2);
}
*{
    font-family: "Flexo-Medium", Arial, sans-serif;
}
img {
    width: auto;
    padding-top: 0%;    
}
.evolutions{
    border-color: white;
    border-style: solid;}

 .type{
    list-style-type: none;
    justify-content: flex-end;
 }

.type-grass{
    background-color: green;
    width: fit-content;
    font-size: medium;
    text-align: end;
    border-radius: 8px;
}

.type-poison{
    background-color: purple;
    width: fit-content;
    font-size: medium;
    text-align: end;
    border-radius: 8px;
    h3{color: white;}
}

.type{
    justify-content: end; }
.evolutions{
    border-image: 5px;
    border-color: white;
}
.flexbox-container-baixo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: start;
}
.flexbox-container-baixo img{
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
    box-shadow: 2px 4px 6px;
    background-color: dimgray;
}
.flexbox-container-baixo{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.evolutions{
    display: flex;
    padding: 0px;
    justify-content: space-around;
}