body {
	display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 8,3% 8,3% 8,3% 8,3% 8,3% 8,3% 8,3% 8,3% 8,3% 8,3% 8,3% 8,3%;
}

body div#imagem-bulbasur {
	display: grid;
	grid-column-start: 1;
	grid-column-end: 7;
}

body div#texto-informativo {
	display:grid;
	grid-column-start: 7;
	grid-column-end: 7;
}

div#container-grafico-status {
	display: grid;
  	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  	grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	width: 396px;
	height: 258.75px; 
	background-color: rgb(100,100,100);
	border-radius: 10px;
}

div#container-grafico-status > div{
	display: grid;
	margin: 0px;
	padding: 0px;
	grid-column-start: 2;
	grid-column-end: 10;
	grid-row-start: 3;
	grid-row-end: 9;
	grid-template-columns: 7px 1fr 7px 1fr 7px 1fr 7px 1fr 7px 1fr 7px 1fr 7px;
	grid-template-rows: 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px 1fr 3px;
	background-color: rgb(250,250,250);
	column-gap: 10px;
	row-gap: 4px; 
}

div#grafico-status div#marcacao-status-3-pontos {
	display:grid;
	background-color: rgb(00,160,250);
	grid-column-start: 1;
	grid-column-end: span 13;
	grid-row-start: 23;
	grid-row-end: span 9;
}

div#grafico-status div#marcacao-status-4-pontos {
	display:grid;
	background-color: rgb(00,160,250);
	grid-column-start: 7;
	grid-column-end: span 5;
	grid-row-start: 21;
	grid-row-end: span 8;
}


div.coluna {
	background-color: rgb(100,100,100);
	margin:0;
}

div.linha {
	background-color: rgb(100,100,100);
	margin:0;
}

div#grafico-status div#coluna1 {
	display: grid;
	grid-area: 1 / 1 / 32 / 1;
}
div#grafico-status div#coluna2 {
	display: grid;
	grid-area: 1 / 3 / 32 / 3;
}
div#grafico-status div#coluna3 {
	display: grid;
	grid-area: 1 / 5 / 32 / 5;
}
div#grafico-status div#coluna4 {
	display: grid;
	grid-area: 1 / 7 / 32 / 7;
}
div#grafico-status div#coluna5 {
	display: grid;
	grid-area: 1 / 9 / 32 / 9;
}
div#grafico-status div#coluna6 {
	display: grid;
	grid-area: 1 / 11 / 32 / 11;
}
div#grafico-status div#coluna7 {
	display: grid;
	grid-area: 1 / 13 / 32 / 13;
}

div#grafico-status div#linha1 {
	display: grid;
	grid-area: 1 / 1 / 1 / 14;
}
div#grafico-status div#linha2 {
	display: grid;
	grid-area: 3 / 1 / 3 / 14;
}
div#grafico-status div#linha3 {
	display: grid;
	grid-area: 5 / 1 / 5 / 14;
}
div#grafico-status div#linha4 {
	display: grid;
	grid-area: 7 / 1 / 7 / 14;
}
div#grafico-status div#linha5 {
	display: grid;
	grid-area: 9 / 1 / 9 / 14;
}
div#grafico-status div#linha6 {
	display: grid;
	grid-area: 11 / 1 / 11 / 14;
}
div#grafico-status div#linha7 {
	display: grid;
	grid-area: 13 / 1 / 13 / 14;
}
div#grafico-status div#linha8 {
	display: grid;
	grid-area: 15 / 1 / 15 / 14;
}
div#grafico-status div#linha9 {
	display: grid;
	grid-area: 17 / 1 / 17 / 14;
}
div#grafico-status div#linha10 {
	display: grid;
	grid-area: 19 / 1 / 19 / 14;
}
div#grafico-status div#linha11 {
	display: grid;
	grid-area: 21 / 1 / 21 / 14;
}
div#grafico-status div#linha12 {
	display: grid;
	grid-area: 23 / 1 / 23 / 14;
}
div#grafico-status div#linha13 {
	display: grid;
	grid-area: 25 / 1 / 25 / 14;
}
div#grafico-status div#linha14 {
	display: grid;
	grid-area: 27 / 1 / 27 / 14;
}
div#grafico-status div#linha15 {
	display: grid;
	grid-area: 29 / 1 / 29 / 14;
}
div#grafico-status div#linha16 {
	display: grid;
	grid-area: 31 / 1 / 31 / 14;
}

div#container-grafico-status > label{
	color: white;
	
	width: 100px;
	height: 18.75px;
	margin-top: 10px;
	margin-left: 35px;
}

div#texto-explicativo {
	display: flex;
	width: 396px;
	flex-wrap: wrap;
}

div#quadro-de-informacoes div {
	color: white;
	margin-right: 60px;
	margin-left: 10px;
	margin-top: 5px;
}

div#quadro-de-informacoes p {
	color: rgb(0,0,0);
	margin: 0px;
}


div#quadro-de-informacoes {
	display: flex;
	width: 396px;
	height: 228px;
	background-color: rgb(0,175,250);
	flex-direction: row;
	flex-wrap: wrap;
	border-radius: 10px;
}

div#tipagem div:first-child, div#fraquezas > div:first-child{
	margin-bottom: 10px;
}

div#tipos, div#botoes-fraquezas {
	display: flex;
	flex-direction: row;
	gap: 5px;
	width: 397px;
	flex-wrap: wrap;
}

div button {
	border-style: none;
	width: 129px;
	height: 20px;
	border-radius: 5px;
	margin-bottom: 2px;
}

div#descricao-grafico {
	display: grid;
	background-color: blue;
	width: 316.8 px;
	height: 15px;
	grid-area: 32 / 1 / 32 / 14;
}

div#descricao-grafico div{
	display: flex;
	justify-content: evenly-spaced;
	flex-wrap: wrap;
}

div#descricao-grafico p {
	display: inline;
	padding: 0px;
	margin: 0px;
}

div#grafico-de-evolucoes {
	background-color: rgb(60,60,60);
	width: 860.58px;
	height: 328.5px;
}

div#painel {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

div#painel  img {
	background-color: rgb(60,60,60);
	width: 150px;
	height: 150px;
	border: 10px solid rgb(250,250,250);
	border-radius: 50%;
}

button#grass {
	background-color: hsl(125,60%,60%);
}

button#grass2 {
	background-color: hsl(125,60%,60%);
	width: 70px;
}

button#poison {
	background-color: hsl(270,50%,65%);
	color: white;
}

button#poison2 {
	background-color: hsl(270,50%,65%);
	color: white;
	width: 70px;
}

button#fire {
	background-color: hsl(35,100%,50%);
	color: white;
}

button#ice {
	background-color: hsl(200,100%,68%);
}

button#flynig {
	background-color: rbg (0,0,0);
}

button#psychic {
	background-color: hsl(300,100%,70%);
	color: white;
}

div#basico div, div#primeira-evolucao div, div#segunda-evolucao div {
	display: flex;
	flex-direction: line;
	align-items: space-around;
}

div > h2:first-child {
	color: rgb(100,100,100);
}
div h2 {
	margin: 10px;
}

div.tipagem-evolutiva {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}